#marcel, #tiffany, #serena {
    animation: spin 3s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }
h1, #marcel, #tiffany, #serena {
    text-align:center;
}
.titleRow {
    margin-bottom:100px;

    animation:opacity 3s linear infinite;
}

.titleRow {
animation:1s ease 2s normal forwards 1 fadein;
-webkit-animation:1s ease 2s normal forwards 1 fadein;
opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}
.row {
    width: 100%;
    margin-top: 50px;
}